form {
    background-color: $color-navbar-bg;
    font-size: 0;
    line-height: 17px;
    white-space: nowrap;
}

input {
    border: none;
    border-radius: 1em;
    font-size: $header-font-size;
    outline: 0;
    padding: .13em .7em;
    margin: 0 0 8px 7px;
    vertical-align: middle;
    width: 130px;
    -webkit-appearance: none;

    // Purpose: make the navbar's inner shadow stay below the search field
    position: relative;
    z-index: 1;
}

@import "nav.scss";

// Mobile CSS
@include mobile {
    form {
        overflow-x: auto;
        overflow-y: hidden;

        /* Purpose: make the horizontal scrollbar invisible */
        scrollbar-width: none; // FF
        -ms-overflow-style: none; // IEdge
        // Chrome, Safari and Opera
        &::-webkit-scrollbar {
            display: none;
        }
    }

    input {
        margin-left: 1.5rem;
        margin-right: 1rem;
    }
}

// Paper CSS
@include print {
    form {
        display: none;
    }
}
