#lyrics-container {
    margin: 0 auto;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.04);
    width: min-content;
    min-width: 50%;
    max-width: 100%;

    display: flex;
    flex-direction: column;
}

#lyrics {
    background: $color-lyrics-bg;
    border: solid 1px $color-lyrics-border;
    color: $color-lyrics-fg;
    display: inline-block;
    font-family: inherit;
    line-height: 1.5;
    margin: -1px 0 0 0;
    overflow: auto;
    padding: $vertical-spacing $horizontal-spacing;
    min-width: 100%;
    width: max-content;
    max-width: 100%;
    box-sizing: border-box;

    span {
        border-bottom: 1px solid rgba(0, 0, 0, 0.03);
        display: block;
        margin: 0 0 -1px 0;
    }
}

// Purpose: separate lyrics from metadata in text browsers
hr {
    display: none
}

// Purpose: make metadata look different from the song text
table {
    margin: 0;
    text-align: left;
    background-color: $color-metadata-bg;
    color: $color-metadata-fg;
    width: 100%;
    border: 1px solid $color-metadata-bg;

    border-collapse: collapse;
}

td {
    padding: ($vertical-spacing / 2) $horizontal-spacing;

    // Purpose: underline metadata links
    a {
        text-decoration: underline;
    }
}

tr {
    &:first-child {
        td {
            padding-top: $vertical-spacing;
        }
    }

    &:last-child {
        td {
            padding-bottom: $vertical-spacing;
        }
    }
}

// Purpose: highlight item names by making them bold,
//          add extra spacing between item names and item values
td:first-child {
    font-weight: bold;

    // Purpose: make the left column as thin as possible
    width: 1%;

    // Purpose: ensure metadata headers are never wrapped
    white-space: nowrap;

    //
    vertical-align: top;
}

#lyrics-actions {
    padding: ($vertical-spacing / 2) $horizontal-spacing;

    a {
        background: $color-metadata-fg;
        border-radius: 0.4em;
        color: $color-metadata-bg;
        display: block;
        padding: 0.4em 0.5em;
        text-align: center;
        text-decoration: none;
        white-space: nowrap;
    }
}

// Mobile CSS
@include mobile {
    #lyrics-container {
        // Purpose: hide the paper sheet's shadow on mobile
        box-shadow: none;

        width: 100%;
    }

    #lyrics {
        display: block;
        padding: $mobile-vertical-spacing $mobile-horizontal-spacing;

        min-width: 100%;
        max-width: 100%;

        // Purpose: don't show border on mobile
        border: none;
        margin: 0;
    }

    table {
        border: none;
    }

    td {
        padding: ($mobile-vertical-spacing / 2) $mobile-horizontal-spacing;
    }

    tr {
        &:first-child {
            td {
                padding-top: $mobile-vertical-spacing;
            }
        }

        &:last-child {
            td {
                padding-bottom: $mobile-vertical-spacing;
            }
        }
    }

    #lyrics-actions {
        padding: $mobile-vertical-spacing $mobile-horizontal-spacing;
    }
}

// Paper CSS
@include print {
    #lyrics {
        border: none;
        box-shadow: none;
        margin: 0;
        width: 100%;
    }

    table {
        border: none;
    }

    #lyrics-actions {
        display: none;
    }
}
