@import "vars";
@import "mixins";

html {
    height: 100%;
}

body {
    background: $color-bg;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;

    /*
    * Purpose: always show the vertical scroll bar on the right
    * for shitty browsers so that the X would not twitch
    * every time Y overflow appears or goes away
    *
    */
    overflow-y: scroll;

    // Ensure the horizontal scrolling is never there
    overflow-x: hidden;
}

a {
    color: $color-link;
    opacity: .9;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

.t2,
.t3,
.t4 {
    padding-left: 15px;
    background: transparent none no-repeat left 0.4rem;
}
.t2 {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20clip-rule%3D%22evenodd%22%20fill-rule%3D%22evenodd%22%20image-rendering%3D%22optimizeQuality%22%20shape-rendering%3D%22geometricPrecision%22%20text-rendering%3D%22geometricPrecision%22%3E%3Cpath%20d%3D%22M9.764%2010.17c0-2.936-1.91-5.314-4.264-5.314-2.353%200-4.264%202.378-4.264%205.313%200%20.458%201.91.831%204.264.831%202.353%200%204.264-.373%204.264-.83zM5.5%200a2.323%202.323%200%2011.001%204.646%202.323%202.323%200%20010-4.646z%22%20fill%3D%22%23414141%22%2F%3E%3C%2Fsvg%3E');
}
.t3 {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%20viewBox%3D%220%200%202.91%202.91%22%3E%3Cpath%20d%3D%22M1.406.002c-.238.006-.473.07-.68.193-.444.253-.73.75-.726%201.26a1.461%201.461%200%20001.081%201.406%201.461%201.461%200%20001.636-.68c.329-.55.227-1.31-.234-1.756A1.451%201.451%200%20001.406.002zm.024%201.042a.412.412%200%2001.292.095.408.408%200%2001-.414.686.405.405%200%2001-.154-.651.39.39%200%2001.276-.13z%22%20fill%3D%22%23414141%22%2F%3E%3C%2Fsvg%3E');
}
.t4 {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2211%22%3E%3Cpath%20d%3D%22M6.336.182c.607%201.513%202.26%202.364%202.677%203.978.125.382.273.88-.091%201.19-.603.174-.452-.746-.603-1.103-.193-.685-.64-1.324-1.276-1.66-.485-.098-.742.485-.753.886.159%201.896.119%203.808-.028%205.704-.35%201.088-1.512%201.684-2.592%201.769-.823.112-1.808-.53-1.723-1.428.098-1.097%201.208-1.802%202.235-1.853.423.003.877.184%201.284-.03.485-.219.367-.816.355-1.24-.043-2.058.054-4.115.044-6.173.053-.218.355-.17.47-.04z%22%20fill%3D%22%23414141%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23414141%22%20stroke-width%3D%22.107%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E');
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-bottom: .5rem;
    margin-top: 0;
}

#content {
    margin: 0 auto;
    position: relative;
    width: $website-width;
    box-sizing: border-box;

    &.home {
        text-align: left;

        // Purpose: underline links on the home page
        a {
            text-decoration: underline;
        }
    }
}

b {
    color: #414141;
    display: inline-block;
    font-weight: normal;
    text-align: right;
    width: 22px;
}

#view {
    color: $color-fg;

    // Purpose: add extra scroll travel to make it easy to read and tap items on tho bottom of the page
    padding-bottom: $bottom-extra-space;
}

@import "header.scss";
@import "breadcrumbs.scss";
@import "list.scss";
@import "lyrics.scss";

// Mobile CSS
@include mobile {
    a {
        opacity: 1;
    }

    .t2,
    .t3,
    .t4 {
        background-position-y: 1rem;
    }

    #content {
        background: inherit;
        padding: 0;
        width: 100%;

        &.home {
            padding: 0 $mobile-horizontal-spacing 0 $mobile-horizontal-spacing;
        }
    }
}

// Dark CSS
@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-color-bg;
    }

    a {
        color: $dark-color-link;
    }

    form {
        background-color: $dark-color-navbar-bg;
    }

    @include mobile {
        nav {
            &:before {
                background: linear-gradient(270deg, rgba($dark-color-navbar-bg, 0) 0%, $dark-color-navbar-bg 100%);
            }
            &:after {
                background: linear-gradient(90deg, rgba($dark-color-navbar-bg, 0) 0%, $dark-color-navbar-bg 100%);
            }
        }
    }

    nav a {
        color: $dark-color-navbar-fg;
    }

    #breadcrumbs > span:not(:first-child):before {
        color: $dark-color-breadcrumbs-arrow;
    }

    @include mobile {
        #breadcrumbs {
            > span:first-child {
                &:before {
                    background: linear-gradient(270deg, rgba($dark-color-bg, 0) 0%, $dark-color-bg 100%);
                }
                &:after {
                    background: linear-gradient(90deg, rgba($dark-color-bg, 0) 0%, $dark-color-bg 100%);
                }
            }
        }
    }

    #view {
        color: $dark-color-fg;
    }

    .l a span {
        color: $dark-color-list-id;
    }

    #lyrics-container {
        box-shadow: none;
    }

    #lyrics {
        background: $dark-color-lyrics-bg;
        color: $dark-color-lyrics-fg;
        border-color: $dark-color-lyrics-border;

        span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.045);
        }
    }

    table {
        background-color: $dark-color-metadata-bg;
        color: $dark-color-metadata-fg;
        border-color: $dark-color-metadata-bg;
    }

    td {
        a {
            color: $dark-color-metadata-fg;

            &.a {
                background: $dark-color-metadata-fg;
                color: $dark-color-metadata-bg;
            }
        }
    }
}

// Paper CSS
@include print {
    body {
        font-size: 14px;
    }

    a {
        color: $color-link;
        opacity: 1;
        text-decoration: none;
    }

    #view {
        padding: 0;
    }

    #content {
        margin: 0;
    }
}
