// Purpose: separate lyrics from metadata in text browsers
hr {
    display: none
}

// Purpose: make metadata look different from the song text
table {
    margin: 0;
    text-align: left;
    background-color: $color-metadata-bg;
    color: $color-metadata-fg;
    width: 100%;
    border: 1px solid $color-metadata-bg;

    border-collapse: collapse;
}

td {
    padding: ($vertical-spacing / 2) $horizontal-spacing;

    // Purpose: underline metadata links
    a {
        text-decoration: underline;

        // Purpose: style action buttons
        &.a {
            background: $color-metadata-fg;
            border-radius: 0.4em;
            color: $color-metadata-bg;
            padding: 0.2em 0.6em;
            text-decoration: none;
            white-space: nowrap;
        }
    }
}

tr {
    &:first-child {
        td {
            padding-top: $vertical-spacing;
        }
    }

    &:last-child {
        td {
            padding-bottom: $vertical-spacing;
        }
    }
}

// Purpose: highlight item names by making them bold,
//          add extra spacing between item names and item values
td:first-child {
    font-weight: bold;

    // Purpose: make the left column as thin as possible
    width: 1%;

    // Purpose: ensure metadata headers are never wrapped
    white-space: nowrap;

    //
    vertical-align: top;
}

// Mobile CSS
@include mobile {
    table {
        border: none;
    }

    td {
        padding: ($mobile-vertical-spacing / 2) $mobile-horizontal-spacing;
    }

    tr {
        &:first-child {
            td {
                padding-top: $mobile-vertical-spacing;
            }
        }

        &:last-child {
            td {
                padding-bottom: $mobile-vertical-spacing;
            }
        }
    }
}

// Paper CSS
@include print {
    table {
        border: none;
    }
}
