<div id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#breadcrumbs}}
        {{#link}}
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{link}}" itemid="{{link}}" itemprop="item" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">{{label}}</span>
                </a>
                <meta itemprop="position" content="{{type}}" />
            </span>
        {{/link}}
        {{^link}} → {{/link}}
    {{/breadcrumbs}}
</div>
