<div id="b" vocab="https://schema.org/" typeof="BreadcrumbList">
    {{#breadcrumbs}}
        {{#href}}
            <span property="itemListElement" typeof="ListItem">
                <a property="item" typeof="WebPage" href="{{href}}"{{#type}} class="t{{type}}"{{/type}}>
                    <span property="name">{{label}}</span>
                </a>
                <meta property="position" content="{{type}}">
            </span>
        {{/href}}
        {{^href}} — {{/href}}
    {{/breadcrumbs}}
</div>
<br>
