<div id="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
    {{#breadcrumbs}}
        {{#href}}
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                <a href="{{href}}"{{#type}} class="t{{type}}"{{/type}} itemid="{{href}}" itemprop="item" itemscope itemtype="http://schema.org/Thing">
                    <span itemprop="name">{{label}}</span>
                </a>
                <meta itemprop="position" content="{{type}}" />
            </span>
        {{/href}}
        {{^href}} → {{/href}}
    {{/breadcrumbs}}
</div>
<br/>
