<!doctype html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/s.css"/>
<title>{{title}}</title>
<meta name="description" content="{{description}}"/>
<meta name="google" content="notranslate"/>

<form action="/search.html">
    <nav><a href="/" id="home">Lyrics</a> {{#navigation}}<a href="{{path}}">{{label}}</a> {{/navigation}}<input id="query" name="q" type="search" placeholder="Search"/></nav>
</form>
<div id="content">
    <div id="breadcrumbs">{{#breadcrumbs}}{{#link}}<a href="{{link}}">{{label}}</a>{{/link}}{{^link}} <span>→</span> {{/link}}{{/breadcrumbs}}</div>
    <div id="view">{{{content}}}</div>
</div>
<script>document.body.className="js"</script>
