<!doctype html>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
<link rel="icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="/s.css"/>
<title>{{title}}</title>
<meta name="description" content="{{description}}"/>
<meta name="google" content="notranslate"/>

<form action="/search.html">
    <nav><a href="/" id="home">Lyrics</a> {{#navigation}}<a href="{{path}}">{{label}}</a> {{/navigation}}</nav>
</form>
<div id="content">
    <br />
    {{{breadcrumbs}}}
    <div id="view">{{{content}}}</div>
    <br/><br/><br/><br/><br/><br/>
</div>
<script>
    var input=document.createElement("input");
    input.name="q";
    input.type="search";
    input.placeholder="Search";
    document.getElementsByTagName("nav")[0].appendChild(input)
</script>
