<div id="lyrics-container">
    {{#lyrics}}
    <div id="lyrics">
        {{{lyrics}}}
        <br>
    </div>
    {{/lyrics}}
    {{#metadata}}
        <hr>
        {{{metadata}}}
    {{/metadata}}
    {{#actions}}
        <div id="lyrics-actions">
            {{{actions}}}
            <br>
        </div>
    {{/actions}}
</div>
