<noscript>
  <div class="js-error">
    <p>Sadly, but the search has to rely on JavaScript in order to function.</p>
    <p>Please feel free to <a href="https://github.com/Lyrics/lyrics/archive/master.zip">download the database</a> or clone git@github.com:Lyrics/lyrics.git in case you'd like to search through it locally.</p>
  </div>
</noscript>
<script>
  /* Remove the above NOSCRIPT DOM element */
  var noscriptNode = document.getElementsByTagName("noscript")[0];
  noscriptNode.parentNode.removeChild(noscriptNode);
  /* Remove this very SCRIPT DOM element */
  var scriptNode = document.getElementsByTagName("script")[0];
  scriptNode.parentNode.removeChild(scriptNode);
</script>

<div id="app"></div>

<script src="/js/search.js"></script>
