#breadcrumbs {
    display: block;
    font-size: 0;
    line-height: 30px;
    list-style: none;

    > span {
        display: inline-block;
        font-size: $font-size;

        &:not(:first-child) {
            margin-left: 20px;
            position: relative;

            &:before {
                color: $color-breadcrumbs-arrow;
                content: '→';
                font-size: 12px;
                left: -16px;
                line-height: 27px;
                position: absolute;
                top: 1px;
            }
        }

        &:last-child {
            margin-right: $mobile-horizontal-spacing;
        }
    }

    a {
        display: inline-block;
    }
}

// Mobile CSS
@include mobile {
    #breadcrumbs {
        line-height: 40px; // Purpose: give more space to links on smartphones

        // Purpose: make horizontally scrollable
        overflow-x: auto;
        white-space: nowrap;

        // Purpose: make the horizontal scrollbar invisible
        scrollbar-width: none; // FF
        -ms-overflow-style: none; // IEdge
        // Chrome, Safari and Opera
        &::-webkit-scrollbar {
            display: none;
        }

        /* Purpose: add inner shadow to the right side of breadcrumbs to hint user that
            they can scroll it horizontally on mobile */
        > span:first-child {
            &:before,
            &:after {
                content: '';
                height: 30px;
                position: absolute;
                width: $mobile-horizontal-spacing;
                z-index: 1;

                // Purpose: make it possible to click on links beneath the shadow
                pointer-events: none;
            }

            &:before {
                background: linear-gradient(270deg, rgba($color-bg, 0) 0%, $color-bg 100%);
                left: 0;
            }

            &:after {
                background: linear-gradient(90deg, rgba($color-bg, 0) 0%, $color-bg 100%);
                right: 0;
            }
        }

        > span:not(:first-child):before {
            line-height: 36px;
        }
    }
}

// Paper CSS
@include print {
    #breadcrumbs {
        display: none;
    }
}
