// Default colors
$color-bg: #fafafa;
$color-fg: #222;
$color-link: #000;
$color-list-id: #bbb;
$color-navbar-bg: #333;
$color-navbar-fg: #fff;
$color-breadcrumbs-arrow: rgba(0, 0, 0, .3);
$color-lyrics-bg: #fff;
$color-lyrics-fg: #222;
$color-lyrics-border: #f2f2f2;
$color-metadata-bg: #fbfbfb;
$color-metadata-fg: #333;

// Colors in dark mode
$dark-color-bg: #000;
$dark-color-fg: #eee;
$dark-color-link: #fff;
$dark-color-list-id: #555;
$dark-color-navbar-bg: #050505;
$dark-color-navbar-fg: #fff;
$dark-color-breadcrumbs-arrow: rgba(255, 255, 255, .3);
$dark-color-lyrics-bg: #050505;
$dark-color-lyrics-fg: #fff;
$dark-color-lyrics-border: #111;
$dark-color-metadata-bg: #030303;
$dark-color-metadata-fg: #5a5a5a;

// Global
$font-size: 16px; // Base font size for the website
$website-width: 900px; // Max width for all containers

// Header
$header-font-size: 14px;
$header-shadow-right-width: 40px;

$horizontal-spacing: 16px;
$vertical-spacing: 20px;

// Define minimal list item width
$list-item-min-width: 90px;
$mobile-list-item-min-width: 65%;

$mobile-breakpoint: 920px;
$mobile-horizontal-spacing: 10px;
$mobile-vertical-spacing: 10px;
