#breadcrumbs {
    display: block;
    font-size: 0;
    line-height: 30px;
    list-style: none;

    > span {
        display: inline-block;
        font-size: $font-size;

        &:not(:first-child) {
            margin-left: 20px;
            position: relative;

            &:before {
                color: rgba(0, 0, 0, .3);
                content: '→';
                font-size: 12px;
                left: -16px;
                line-height: 27px;
                position: absolute;
                top: 1px;
            }
        }
    }

    a {
        display: inline-block;
    }
}

// Mobile CSS
@include mobile {

    #breadcrumbs {
        line-height: 40px; // Purpose: give more space to links on smartphones
        padding-left: $mobile-horizontal-spacing;
        padding-right: $mobile-horizontal-spacing;

        > span:not(:first-child):before {
            line-height: 36px;
        }
    }

}

// Paper CSS
@include print {

    #breadcrumbs {
        display: none;
    }

}
