#breadcrumbs {
    display: block;
    font-size: 0;
    list-style: none;

    &:empty {
        display: none;
    }

    > span {
        display: inline-block;
        font-size: $font-size;

        &:not(:first-child) {
            margin-left: 20px;
            position: relative;

            &:before {
                color: rgba(0, 0, 0, .3);
                content: '→';
                font-size: 12px;
                left: -16px;
                position: absolute;
            }
        }
    }
}

// Mobile CSS
@media only screen and (max-width: $mobile-breakpoint) {

    #breadcrumbs {
        padding-left: $mobile-horizontal-spacing;
        padding-right: $mobile-horizontal-spacing;
        padding-top: 10px;

        > span {
            // Purpose: give more space to links on smartphones
            line-height: 30px;
        }
    }

}

// Paper CSS
@media print {

    #breadcrumbs {
        display: none;
    }

}
