#l {
    list-style: none;
    margin-top: -6px; // Purpose: less space between breadcrumbs and list items
    padding: 0;
    line-height: 150%;
    text-align: left;

    li {
        padding-left: 0;
    }

    a {
        display: inline-block;
        box-sizing: border-box;

        // Purpose: make it easier to click short list items
        min-width: $list-item-min-width;

        // Purpose: make the album year look different
        span {
            color: $color-list-id;
        }
    }
}

// Mobile CSS
@include mobile {
    #l {
        padding: 0 $mobile-horizontal-spacing 0 $mobile-horizontal-spacing;

        a {
            // Purpose: make it easier to tap list items on small screens
            min-width: $mobile-list-item-min-width;

            // Purpose: give more space to links on smartphones
            // line-height: 40px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
}
