#l {
    list-style: none;
    margin-top: -9px; // Purpose: less space between breadcrumbs and list items
    padding: 0;
    line-height: 30px;
    text-align: left;

    li {
        padding-left: 0;
    }

    a {
        display: inline-block;

        // Purpose: make it easier to click short list items
        min-width: $list-item-min-width;

        // Purpose: make the album year or track number/letter look different
        span {
            color: $color-list-id;
        }
    }
}

// Mobile CSS
@include mobile {
    #l {
        padding: 0 $mobile-horizontal-spacing 0 $mobile-horizontal-spacing;

        li {
            // Purpose: give more space to links on smartphones
            line-height: 40px;
        }

        // Purpose: make it easier to tap list items on small screens
        a {
            min-width: $mobile-list-item-min-width;
        }
    }
}
