#lyrics {
    background: #fff;
    border: solid 1px #f2f2f2;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.04);
    color: #222;
    display: inline-block;
    line-height: 1.5;
    margin: -1px 0 0 0;
    overflow: auto;
    padding: 20px;
    text-align: left;

    span {
        display: block;
        margin: 0 0 -1px 0;

        br {
            display: none;
        }

        &.g {
            margin-top: $font-size + 8px;
        }
    }

    // Purpose: separate lyrics from metadata
    hr {
        border: none;
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        margin: 0;
    }

    // Purpose: make metadata look different from the song text
    p {
        font-size: 75%;
        margin: 0;
        opacity: 0.4;
        padding-top: 10px;
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.7;
        }
    }
}


// Mobile CSS
@include mobile {

    #lyrics {
        display: block;
        padding: .4rem .7rem;

        // Purpose: hide the paper sheet's shadow on mobile
        box-shadow: none;

        // Purpose: add a bit of spacing to the bottom of the sheet
        padding-bottom: $bottom-lyrics-padding-mobile;

        // Purpose: Make paper lined to ensure readabilety when text gets wrapped
        span {
            border-bottom: 1px solid rgba(0, 0, 0, 0.03);
        }

        // Purpose: make metadata easier to read on mobile
        p {
            &,
            &:hover {
                opacity: 0.7;
            }
        }
    }

}


// Paper CSS
@include print {

    #lyrics {
        border: none;
        box-shadow: none;
        margin: 0;
        width: 100%;

        // Purpose: make metadata easier to read on paper
        p {
            opacity: 1;
        }
    }

}
