@import "vars";
@import "mixins";

html {
    height: 100%;
}

body {
    background: #f2f2f2;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;

    /*
    * Purpose: always show the vertical scroll bar on the right
    * for shitty browsers so that the X would not twitch
    * every time Y overflow appears or goes away
    *
    */
    overflow-y: scroll;
}

a {
    color: #000;
    opacity: .9;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

#ls {
    list-style: none;
    margin-top: -9px; // purpose: less space between breadcrumbs and list items
    padding: 0;
    line-height: 30px;
    text-align: left;

    li {
        padding-left: 0;
    }

    a {
        display: inline-block;
        text-decoration: none;
    }
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-bottom: .5rem;
    margin-top: 0;
}

@import "header.scss";
@import "breadcrumbs.scss";
@import "lyrics.scss";

#content {
    margin: 0 auto;
    position: relative;
    width: $website-width;
}

#view {
    color: #222;
    min-height: $header-vertical-overflow; // Purpose: if the element is empty at least cover the guts of the nav bar
    padding-bottom: 6em;
    padding-top: $vertical-spacing;
    text-align: center; // Purpose: float the lyrics sheet in the center

    a {
        text-decoration: underline;
    }
}

.homepage {
    text-align: left;
}


// Mobile CSS
@include mobile {

    a {
        opacity: 1;
    }

    #content {
        background: inherit;
        padding: 0;
        width: 100%;
    }

    #view {
        padding-bottom: 0;
        padding-top: 10px;

        .homepage,
        #ls {
            padding: 0 $mobile-horizontal-spacing 6em $mobile-horizontal-spacing;
        }

        #ls {
            margin-top: 4px;

            li {
                // Purpose: give more space to links on smartphones
                line-height: 40px;

                // Purpose: make it easier to tap list items on small screens
                a {
                    min-width: 50%;
                }
            }
        }
    }

}


// Paper CSS
@include print {

    body {
        font-size: 14px;
    }

    a {
        color: #000;
        opacity: 1;
        text-decoration: none;
    }

    #view {
        padding: 0;
    }

    #content {
        margin: 0;
    }

}
