@import "vars.scss";

html {
    height: 100%;
}

body {
    background: #f2f2f2;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;

    /*
    * Purpose: always show the vertical scroll bar on the right
    * for shitty browsers so that the X would not twitch
    * every time Y overflow appears or goes away
    *
    */
    overflow-y: scroll;
}

ul {
    line-height: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding-left: 0;
}

a {
    color: #000;
    opacity: .9;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-bottom: .5rem;
    margin-top: 0;
}

@import "header.scss";

#content {
    margin: 0 auto;
    position: relative;
    width: $website-width;
}

@import "breadcrumbs.scss";

@import "lyrics.scss";

.error {
    color: #c00;
}

.view {
    color: #222;
    padding-top: $vertical-spacing;
    padding-bottom: 6em;
    text-align: center;

    ul {
        display: block;
        line-height: 1.9;
        list-style: none;
        text-align: left;
    }

    li {
        display: block;

        a {
            display: inline-block;
        }
    }
}

.homepage,
.not-found {
    text-align: left;

    a {
        text-decoration: underline;
    }

    ul {
        list-style: disc;
        padding-left: 20px;

        li {
            display: list-item;
        }
    }
}


// Mobile CSS
@media only screen and (max-width: $mobile-breakpoint) {

    #content {
        background: inherit;
        padding: 0;
        width: 100%;
    }

    .view {
        padding-bottom: 0;
        padding-top: $vertical-spacing;

        .homepage,
        ul {
            padding: 0 .7rem 6em .7rem;
        }

        .homepage ul {
            padding-left: 1.7rem;
        }

        li {
            // Purpose: give more space to links on smartphones
            line-height: 40px;

            margin-bottom: 4px;
        }
    }

}


// Paper CSS
@media print {

    body {
        font-size: 14px;
        margin: 0;
    }

    ul {
        line-height: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        color: #000;
        text-decoration: none;
    }

}
