@import "vars";
@import "mixins";

html {
    height: 100%;
}

body {
    background: $color-bg;
    color: #111;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    min-height: 100%;

    /*
    * Purpose: always show the vertical scroll bar on the right
    * for shitty browsers so that the X would not twitch
    * every time Y overflow appears or goes away
    *
    */
    overflow-y: scroll;
}

a {
    color: $color-link;
    opacity: .9;
    text-decoration: none;

    &:hover {
        opacity: 1;
    }
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

#ls {
    list-style: none;
    margin-top: -9px; // Purpose: less space between breadcrumbs and list items
    padding: 0;
    line-height: 30px;
    text-align: left;

    li {
        padding-left: 0;
    }

    a {
        display: inline-block;

        // Purpose: make it easier to click short list items
        min-width: $list-item-min-width;

        // Purpose: make the album year or track number/letter look different
        span {
            color: $color-list-id;
        }
    }
}

.t1,
.t2,
.t3 {
    padding-left: 15px;
    background: transparent none no-repeat left 9px;
}
.t1 {
    background-image: url(/1.svg);
}
.t2 {
    background-image: url(/2.svg);
}
.t3 {
    background-image: url(/3.svg);
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
    margin-top: 2rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-bottom: .5rem;
    margin-top: 0;
}

@import "header.scss";
@import "breadcrumbs.scss";
@import "lyrics.scss";

#content {
    margin: 0 auto;
    position: relative;
    width: $website-width;
}

#view {
    color: $color-fg;
    min-height: 20px; // Purpose: if the element is empty at least cover the guts of the nav bar
    padding-bottom: 6em;
    text-align: center; // Purpose: float the lyrics sheet in the center

    p {
        a {
            text-decoration: underline;
        }
    }
}

.homepage {
    text-align: left;
}

// Mobile CSS
@include mobile {
    a {
        opacity: 1;
    }

    #content {
        background: inherit;
        padding: 0;
        width: 100%;
    }

    #view {
        padding-bottom: 0;

        .homepage,
        #ls {
            padding: 0 $mobile-horizontal-spacing 6em $mobile-horizontal-spacing;
        }

        #ls {
            li {
                // Purpose: give more space to links on smartphones
                line-height: 40px;
            }

            // Purpose: make it easier to tap list items on small screens
            a {
                min-width: $mobile-list-item-min-width;
            }
        }
    }

    .t1,
    .t2,
    .t3 {
        background-position: left 14px;
    }
}

// Dark CSS
@media (prefers-color-scheme: dark) {
    body {
        background-color: $dark-color-bg;
    }

    a {
        color: $dark-color-link;
    }

    form {
        background-color: $dark-color-navbar-bg;
    }

    @include mobile {
        nav {
            &:before {
                background: linear-gradient(270deg, rgba($dark-color-navbar-bg, 0) 0%, $dark-color-navbar-bg 100%);
            }
            &:after {
                background: linear-gradient(90deg, rgba($dark-color-navbar-bg, 0) 0%, $dark-color-navbar-bg 100%);
            }
        }
    }

    nav a {
        color: $dark-color-navbar-fg;
    }

    #breadcrumbs > span:not(:first-child):before {
        color: $dark-color-breadcrumbs-arrow;
    }

    @include mobile {
        #breadcrumbs {
            > span:first-child {
                &:before {
                    background: linear-gradient(270deg, rgba($dark-color-bg, 0) 0%, $dark-color-bg 100%);
                }
                &:after {
                    background: linear-gradient(90deg, rgba($dark-color-bg, 0) 0%, $dark-color-bg 100%);
                }
            }
        }
    }

    #view {
        color: $dark-color-fg;
    }

    #ls a span {
        color: $dark-color-list-id;
    }

    #lyrics {
        background: $dark-color-lyrics-bg;
        color: $dark-color-lyrics-fg;
        border-color: $dark-color-lyrics-border;
        box-shadow: none;

        span {
            border-bottom: 1px solid rgba(255, 255, 255, 0.05);
        }

        hr {
            border-top: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
}

// Paper CSS
@include print {
    body {
        font-size: 14px;
    }

    a {
        color: $color-link;
        opacity: 1;
        text-decoration: none;
    }

    #view {
        padding: 0;
    }

    #content {
        margin: 0;
    }
}
