nav {
    /* Purpose: hide selection highlight of items within the navigation bar */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Safari */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;

    margin: 0 auto;
    width: $website-width;

    a {
        box-sizing: border-box;
        color: $color-navbar-fg;
        display: inline-block;
        font-size: $header-font-size;
        min-width: 19px;
        padding: 12px 9px;
        text-align: center;
    }
}

#home {
    padding-left: 0;
    padding-right: 10px;
}

// Mobile CSS
@include mobile {
    nav {
        margin-right: $shadow-width + 10px;
        text-align: left;

        /* Purpose: add inner shadow to the right side of navbar to hint user that
            they can scroll the alphabet horizontally on mobile */
        &:before,
        &:after {
            content: '';
            height: 4rem;
            position: absolute;
            top: 0;
    
            /* Purpose: make it possible to click on alphabet letters beneath the shadow */
            pointer-events: none;
        }
        &:before {
            background: linear-gradient(270deg, rgba($color-navbar-bg, 0) 0%, $color-navbar-bg 100%);
            left: 0;
            width: 9px;
        }
        &:after {
            background: linear-gradient(90deg, rgba($color-navbar-bg, 0) 0%, $color-navbar-bg 100%);
            right: 0;
            width: $shadow-width;
        }

        a {
            display: inline-block;
            font-weight: bold;
            margin-right: 3px;
            min-width: 40px;
            padding: 1.3rem .5rem;

            &#home {
                // padding: 1.3rem .5rem;
                padding-left: $mobile-horizontal-spacing;
            }
        }
    }
}
