$bottom-lyrics-padding-mobile: 2.4rem;
$color-navbar-bg: #333;
$font-size: 16px;
$header-height: 1.1rem;
$header-vertical-overflow: 0.5rem;
$shadow-width: 3em;
$vertical-spacing: 20px;
$website-width: 900px;
$mobile-breakpoint: 920px;
