name: CI

on:
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Clone lyrics.git
      env:
        GITHUB_DEPLOY_TOKEN: ${{ secrets.GITHUB_DEPLOY_TOKEN }}
      run: git clone "https://github.com/Lyrics/lyrics.git" ../lyrics.git

    - name: Generate website files
      run: |
        sudo apt-get install python3-setuptools sassc
        pip3 install pystache
        make
